body {
    font-family: "Modern Antiqua", serif;
    font-weight: 400;
    font-style: normal;
}

.contentDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.questionsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    text-align: center;
    width: 50em;
}

.reload {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.reload>button {
    border: solid black 2px;
    border-radius: 10px;
    padding: 10px 25px;
    font-weight: bold;
    color: white;
    background: darkorange;
}

.reload>button:hover {
    background: hsl(33, 100%, 80%);
    color: black;
    cursor: pointer;
}

.reload>button:active {
    background: black;
    color: darkorange;
    border: solid darkorange 2px;
}

.answerDiv {
    animation: revealAnswer 8s;
    font-size: 30px;
}

.answerBG {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: darkorange;
    width: 330px;
    height: 100px;
    color: white;
    border: black 2px solid;
    border-radius: 10px;
}

@keyframes revealAnswer {
    0% {
        color: hsla(0, 0%, 100%, 0);
    }

    25% {

        color: hsla(0, 0%, 100%, 0);
    }

    50% {

        color: hsla(0, 0%, 100%, 0);
    }

    75% {

        color: hsla(0, 0%, 100%, 0);
    }

    100% {

        color: hsl(0, 0%, 100%);
    }
}